// About Nass landing page
.data-and-statistics--state {
  .field--name-field-paragraph-content {
    &>.field__item {
      margin-bottom: 2rem;
      &:first-of-type {
        h2.border-array {
          display: block;
          margin: 2rem 0 0;
          .field--name-field-section-head {
            display: block;
            font-size: 2rem;
            font-weight: 100;
            text-align: left;
            color: #000;
            margin: 0;
            padding-left: 0;
          }
        }
      }
      &:last-of-type {
        border-bottom: 0;
      }
      .paragraph-block {
        height: auto;
        .border-array {
          display: none;
        }
        nav.block-menu,
        .content-container {
          h2 {
            display: block;
            font-size: 2rem;
            font-weight: 100;
            text-align: left;
            color: #000;
            margin: 0;
            padding-left: 0;

          }
          .menu,
          ul.usa-sidenav {
            list-style: none;
            text-align: left;
            padding: 0.5rem 0;
            margin: 0;
            border-bottom: 0;
            .menu-item,
            li.usa-sidenav__item {
              margin-top: 1.5rem;
              border: none;
              a {
                color: $blue-lt;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 0;
                &:hover {
                  background: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// About Nass pages general
.page-node-type-landing-page {
  article {
    div {
      &>.field--name-field-paragraph-content {
        .paragraph {
          .border-array {
            padding-top: 0;
            .field--name-field-section-head {
              text-transform: capitalize;
              font-weight: 300;
              letter-spacing: 0.2rem;
              font-size: 2rem;
              &:before {
                display: none;
              }
            }
          }
          .field--name-field-section-body {
            &:after {
              display: none;
            }
          }
          // .paragraph-block {
          //   text-align: center;
          //   background-repeat: no-repeat;
          //   background-size: cover;
          //   background-position: center;
          //   color: white;
          //   @media (min-width: $desktop) {
          //     background-size: contain;
          //     height: 35rem;
          //     padding-top: 10rem;
          //   }
          //   .paragraph-content {
          //     background-color: $blue-dk;
          //     opacity: 0.925;
          //     margin: 0 auto;
          //     padding: 1rem 0 3rem;
          //     @media (min-width: $desktop) {
          //       width: 75%;
          //     }
          //     h2 {
          //       .field--name-field-section-head {
          //         font-size: 1.2rem;
          //         letter-spacing: 0.1rem;
          //         font-weight: 600;
          //       }
          //     }
          //     .content-container {
          //       select {
          //         width: 100%;
          //         padding: 0.5rem;
          //         background-color: rgba(255,255,255,0.2);
          //         @media (min-width: $tablet) {
          //           width: 70%;
          //         }
          //         @media (min-width: $desktop) {
          //           width: 90%;
          //         }
          //       }
          //     }
          //   }
          // }
        }
        .paragraph--type--text {
          h3.career-link {
            margin: 1rem 0;
            a {
              font-weight: 600;
              text-decoration: none;
              color: #005ea2;
              font-size: 1.375rem;
            }
          }
          .our-products-list {
            list-style: none;
            padding: 0;
            li {
              margin: 1rem 0;
              a {
                font-weight: 600;
                text-decoration: none;
                color: #005ea2;
                font-size: 1.375rem;
              }
            }
          }
          h4 {
            font-size: 1.5rem;
            font-weight: 100;
            a {
              color: #005ea2;
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// Hall of Fame
.view-hall-of-fame,
.view-leadership-team {
  .view-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .views-row {
      width: 16rem;
      margin: 2rem auto;
      @media (min-width: $tablet) {
        margin: 2rem 3rem;
      }
      .views-field-field-profile-image {
        img {
          height: 16.25rem;
          width: 12.5rem;
          object-fit: cover;
        }
      }
      .views-field-title {
        a {
          font-weight: 600;
          text-decoration: none;
          color: #005ea2;
          font-size: 1.375rem;
        }
      }
    }
  }
}

// Leadership/Hall of Fame Bio
.staff {
  display: block;
  @media (min-width: $desktop) {
    margin-left: 6rem;
  }
  a {
    font-weight: 600;
    text-decoration: none;
    color: #005ea2;
    font-size: 1rem;
    &:before {
      background: url("./../../uswds/img/usa-icons/arrow_back.svg") no-repeat center/contain;
      filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
      display: inline-block;
      height: 1rem;
      width: 1rem;
      content: "";
      vertical-align: middle;
      margin-right: 0.2rem;
    }
  }
  .staff-contents {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1rem;
    img {
      height: 16.25rem;
      width: 12.5rem;
      object-fit: cover;
    }
    .staff-text {
      width: 90%;
      @media (min-width: $tablet) {
        width: 50%;
        padding-left: 4rem;
      }
      h3 {
        font-weight: 100;
        font-size: 2rem;
        margin-bottom: 0.5rem;
        @media (min-width: $tablet) {
          margin-top: 0;
        }
      }
    }
  }
}
