.highlight {
    padding-left:  3.125rem;
    padding-bottom: 0.625rem;
}
.Survey-tag{
    background-color:rgb(0,68,126);
    color:#ffffff;
}
.Census-tag{
    background-color:rgb(162,57,25);
    color: #ffffff;
}