$phone: 640px;
$tablet: 738px;
$desktop: 1024px;

/**
  Homepage Paragraph
 **/
.path-frontpage {
  article {
    >footer {
      display: none;
    }
  }
  #block-nass-breadcrumbs {
    display: none;
  }
  .field--name-field-paragraph-content {
    // Paragraph general settings
    & > .field__item {
      .field--name-field-section-head-icon {
        padding-top: 0.4rem;
        img {
          width: 2rem;
          height: 2rem;
        }
      }
      h2.border-right,
      h2.border-left {
        display: flex;
        .field--name-field-section-head {
          text-transform: uppercase;
          font-weight: 300;
          font-family: "Source Sans Pro", sans-serif;
          letter-spacing: 0.2rem;
          font-size: 1.7rem;
          margin-top: 0.1rem;
          position: relative;
          display: inline-block;
          @media (min-width: $phone) {
            font-size: 2rem;
          }
          &:before {
            content:'';
            border-top: 5px solid #FCC107;
            position: absolute;
            top: -1rem;
          }
        }
      }
    }

    // Browse for Data
    & > .field__item:nth-child(4) {
      font-family: "Source Sans Pro", sans-serif;
      .paragraph {
        .paragraph-block {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          background-color: #1E366C;
          color: white;
          h2.border-left {
            margin-left: 0;
            @media (min-width: $desktop) {
              margin-left: 3.5rem;
            }
            .field--name-field-section-head {
              margin-left: 0.5rem;
              &:before {
                width: 44%;
                left: 0;
              }
            }
          }
          .content-container {
            display: flex;
            justify-content: space-evenly;
            .field--name-field-section-body {
              width: 45%;
              display: none;
              @media (min-width: $tablet) {
                display: block;
              }
              p {
                font-size: 1rem;
                font-weight: 100;
                line-height: 2rem;
                margin-top: 0;
                @media (min-width: $desktop) {
                  font-size: 1.38rem;
                }
              }
            }
            .field--name-field-block {
              width: 100%;
              @media (min-width: $tablet) {
                width: 45%;
              }
              select {
                background: rgba(255, 255, 255, 0.2);
                width: 100%;
                margin: 0.2rem;
                padding: 1rem;
                border: none;
                border-radius: 0.25rem;
                font-weight: 100;
                font-size: 1.3rem;
              }
              input {
                width: 100%;
                margin: 0.2rem;
                background: rgba(255, 255, 255, 0);
                border: 2px solid #FFFFFF;
                border-radius: 4px;
                padding: 1rem;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

  }
}
