#us-map {
  width: 100%;
  position:relative;
}

#us-map svg {
  width: 100%;
  height: 600px;
}

#us-map svg g.state{
 cursor: pointer;
}

@media (max-width: 639px) {
  #us-map svg {
    height: 300px;
  }
}

#us-map map {
  width: 100%;
  height: 412px;
  position: absolute;
  display: block;
  top: 85px;
}

#block-views-watershed-regions {
  margin-bottom: 2rem;
}

#block-views-watershed-regions .watershed-region {
  margin-bottom: 0.5rem;
}