#us-map {
  width: 100%;
  position:relative;
}

#us-map svg {
  width: 100%;
}

@media (max-width: 639px) {
  #us-map svg {
    height: 300px;
  }
}

#us-map map {
  width: 100%;
  height: 412px;
  position: absolute;
  display: block;
  top: 85px;
}