$phone: 640px;
$tablet: 738px;
$desktop: 1024px;

/**
  Footer Nav
 **/
.region-footer-menu {
  clear: both;
  background-color:#F0F0F0;
  @media (min-width: $desktop) {
    height: 4rem;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1610px;
    margin: 0 auto;
    padding-left: 0;
    font-family: "Source Sans Pro", sans-serif, bold;
    @media (min-width: $desktop) {
      padding-top: 1.4rem;
      justify-content: center;
    }
    li {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 1rem 2rem;
      width: 100%;
      border-bottom: solid 1px #939393;
      @media (min-width: $desktop) {
        width: fit-content;
        padding: 0 4rem 0 0;
        border: none;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/**
  Footer Menu
 **/
.region-footer {
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  font-family: "Source Sans Pro", sans-serif;
  padding: 2rem 0;
  margin-bottom: 1rem;
  @media (min-width: $desktop) {
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
  }
  nav {
    width: 30rem;
    margin-right: 5rem;
    ul.menu {
      list-style: none;
      & > :first-child {
        font-weight: 900;
      }
      li {
        margin-bottom: 1rem;
        font-weight: 100;
        a {
          text-decoration: none;
          font-weight: 100;
          color: #005EA2;
        }
      }
    }
  }
  #block-subscriptions {
    margin: 0 2rem;
    @media (min-width: $desktop) {
      margin: 0 3rem;
    }
    font-family: "Source Sans Pro", sans-serif;
    h2 {
      font-size: 1.06rem;
      letter-spacing: 0.05rem;
      font-weight: 900;
    }
    select {
      padding: 1rem;
      border: none;
      border-radius: 0.3rem;
      color: #4B4B4B;
      width: 100%;
      @media (min-width: $desktop) {
        width: 10rem;
      }
    }
  }
}

/**
  Footer Logo & Social Media Links
 **/
.region-footer-secondary {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  @media (min-width: $desktop) {
    display: block;
  }
  .usa-logo {
    margin-top: 2rem;
    border-top: solid 1px #C9C9C9;
    padding-top: 1.5rem;
    width: 93%;
    @media (min-width: $desktop) {
      margin-top: 0;
      border: none;
      padding-top: 0;
      width: 70%;
    }
    .agency-banner {
      justify-content: center;
      width: 100%;
      @media (min-width: $desktop) {
        justify-content: space-between;
        width: 24rem;
      }
      .logo-img {
        margin-right: 0.5rem;
      }
    }
  }
  #block-socialmedialinks {
    .social-media {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      margin: 0 3rem;
      padding: 1rem;
      @media (min-width: $desktop) {
        justify-content: flex-end;
      }
      li {
        margin: 0 1rem;
        .social-link {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
        }
        .facebook-link {
          background: url("../assets/img/social-icons/facebook.svg") no-repeat center/contain;
        }
        .twitter-link {
          background: url("../assets/img/social-icons/twitter.svg") no-repeat center/contain;
        }
        .youtube-link {
          background: url("../assets/img/social-icons/youtube.svg") no-repeat center/contain;
        }
        .instagram-link {
          background: url("../assets/img/social-icons/instagram.svg") no-repeat center/contain;
        }
        .feed-link {
          background: url("../assets/img/social-icons/rss.svg") no-repeat center/contain;
        }
        img {
          &:last-child {
            height: 1.7rem;
            padding-top: 0.1rem;
          }
        }
      }
    }
  }
}
