$phone: 640px;
$tablet: 738px;
$desktop: 1024px;

/**
USDA Logo
**/
.usa-logo {
  margin: 0 0 0 1rem;
  position: relative;
  height: 3rem;
  float: left;
  @media (min-width: $tablet) {
    margin: 0 0 0 2rem;
    height: 5rem;
  }
  @media (min-width: $desktop) {
    margin: 0 0 0 7rem;
  }
  .agency-banner {
    display: flex;
    justify-content: flex-start;
    width: 18rem;
    @media (min-width: $tablet) {
      padding-top: 0.5rem;
    }
    @media (min-width: $desktop) {
      justify-content: space-between;
      width: 25rem;
    }
    > * {
      display: flex;
    }
    .logo-img {
      img {
        width: 3.5rem;
        height: 3.5rem;
        @media (min-width: $desktop) {
          width: 3.9rem;
          height: 3.9rem;
        }
      }
    }
    .usa-logo__text {
      color: black;
      padding-top: 0.3rem;
      @media (min-width: $desktop) {
        padding-top: 0.7rem;
      }
      font-family: "Source Sans Pro", sans-serif;
      a {
        text-decoration: none;
        color: black;
        margin-left: 0.2rem;
        .agency-name {
          font-size: 0.9rem;
          font-weight: 500;
          @media (min-width: $desktop) {
            font-size: 1.2rem;
          }
        }
        .tag-line {
          font-size: 0.7rem;
          font-weight: 100;
          text-transform: uppercase;
          margin-top: 0.3rem;
          @media (min-width: $desktop) {
            font-size: 0.8rem;
            margin-top: 0.1rem;
          }
        }
        &:visited {
          color: black;
        }
      }
    }
  }
}

/**
 Header Right
 **/
#block-headermidright {
  display: none;
  @media (min-width: $desktop) {
    display: block;
    float: right;
    ul {
      margin: 2.3rem 4rem 0 0;
      list-style: none;
      text-transform: uppercase;
      text-decoration: none;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 300;

      li {
        display: inline;
        margin-left: 2rem;

        &.search svg {
          position: relative;
          top: 0.3rem;

          &:hover {
            cursor: pointer;
          }
        }

        a, a:visited {
          color: black;
          text-decoration: none;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
