#stay-up-to-date-webform {
  background-color: #376EAA;
  padding: 1.25rem 1.25rem 2rem 1.25rem;
  margin: 2rem 0;
  border-radius: 5px;
  .usa-form {
    max-width: 100%;
  }
  .form-item-markup {
    margin: 0.5rem;
    flex: none;
    h2 {
      color: #fff;
      font-weight: 100;
      font-size: 1.25rem;
      margin: 0;
    }
  }
  .form-item-first-name, .form-item-last-name, .form-item-email-a {
    display: inline-flex;
    width: 100%;
    margin: unset;
    @media (min-width: $desktop) {
      width: 31%;
      margin: 0.5rem;
    }
    // @media (max-width: $tablet) {
    //   width: 100%;
    //   margin: unset;
    // }
    input, select {
      height: 60px;
      border-radius: 5px;
    }
  }
  input.button {
    position: absolute;
    right: 8px;
    height: 40px;
    width: 45px;
    top: 60px;
    background-image: url(../../uswds/img/usa-icons/arrow_forward_blue.svg);
    display: block;
    background-color: unset;
    background-position: center center;
    background-size: 18px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: transparent;
    bottom: 10px;
    top: unset;
    @media (min-width: $desktop) {
      bottom: unset;
      top: 60px;
    }
  }
  .webform-confirmation {
    color: #fff;
    text-align: center;
    
  }
}