.usa-alert {
  border-left: none;
  &:before {
    left: 0;
  }
  .usa-alert__body {
    padding-left: 3rem;
  }
  .usa-alert__text {
    p {
      margin: 0;
    }
  }
}

.usa-alert--warning {
  position: relative;
  &:before {
    display: none;
  }
}

.usa-alert.usa-alert--warning {
  position: relative;
  &:before {
    display:initial;
  }
}