.usa-alert {
  border-left: none;
  &:before {
    left: 0;
  }
  .usa-alert__body {
    padding-left: 3rem;
  }
  .usa-alert__text {
    p {
      margin: 0;
    }
  }
}

.usa-alert--warning, .usa-alert--error, .usa-alert--info, .usa-alert--success {
  position: relative;
  &:before {
    display: none;
  }
}

.usa-alert--success {
  background-color: #e5fce5;
}

.usa-alert.usa-alert--warning, .usa-alert.usa-alert--error, .usa-alert.usa-alert--info, .usa-alert.usa-alert--success {
  position: relative;
  &:before {
    display:initial;
  }
}