.footer-content {
  background-color: #f6f6f6;
  .region-footer {
    ul {
      padding-left: 0;
    }
  }
}

/**
  Footer Logo & Social Media Links
 **/
 .region-footer-secondary {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  @media (min-width: $desktop-lg) {
    display: block;
  }
  .usa-logo {
    margin-top: 2rem;
    border-top: solid 1px #C9C9C9;
    padding-top: 1.5rem;
    width: 93%;
    @media (min-width: $desktop-lg) {
      margin-top: 0;
      border: none;
      padding-top: 0;
      width: 70%;
    }
    .agency-banner {
      justify-content: center;
      width: 100%;
      @media (min-width: $desktop-lg) {
        justify-content: space-between;
        width: 24rem;
      }
      .logo-img {
        margin-right: 0.5rem;
      }
    }
  }
  #block-socialmedialinks {
    .social-media {
      display:flex;
      list-style: none;
      justify-content: flex-end;
      padding: 1rem;
      margin: 0;
      @media (min-width: $desktop-lg) {
        justify-content: flex-end;
        margin: 1.5rem -16px 0;
        padding: 0;
      }
      li {
        margin: 0 1rem;
        display: inline-flex;
        .social-link {
          display: inline-block;
          height: 1.5rem;
          width: 1.5rem;
        }
        .facebook-link {
          background: url("./../../uswds/img/social-icons/facebook25.svg") no-repeat center/contain;
        }
        .twitter-link {
          background: url("./../../uswds/img/social-icons/twitter16.svg") no-repeat center/contain;
        }
        .youtube-link {
          background: url("./../../uswds/img/social-icons/youtube15.svg") no-repeat center/contain;
        }
        .instagram-link {
          background: url("./../../uswds/img/social-icons/instagram25.svg") no-repeat center/contain;
        }
        .feed-link {
          background: url("./../../uswds/img/social-icons/rss25.svg") no-repeat center/contain;
        }
        .flickr-link {
          background: url("./../../uswds/img/social-icons/flickr.svg") no-repeat center/contain;
        }
        img {
          &:last-child {
            height: 1.7rem;
            padding-top: 0.1rem;
          }
        }
      }
    }
  }
}
