.region-hero {
  min-height: 200px;
  position: relative;
  // Page Header
  .page-header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    min-height: 12.5rem;
    .bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #ffffff96;
      z-index: 0;
    }
    @media (min-width: $tablet) {
      padding: 3rem 0rem;
    }
    h3 {
      font-size: 1rem;
      font-weight: 100;
      margin-bottom: 0;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: 100;
      letter-spacing: 0.2rem;
      margin-top: 0;
    }
    .grid-container {
      z-index: 1;
      position: relative;
    }
  }
}