// Icon Grid
.paragraph--type--icon-grid {
  margin: 1rem 0;
  .grid-col {
    margin-bottom: 1rem;
  }
  .icon-grid-item {
    box-shadow: 0px 0px 9px #0000004d;
    height: 100%;
  }
  .field--name-field-title {
    font-size: 1.375rem;
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }
  .field--name-field-uswds-paragraphs {
    .paragraph--type--icon-list {
      text-align: center;
      .paragraph-block {
        padding: 1rem;
        border-top: solid 5px #FCC107;
        img {
          max-width: 10rem;
          max-height: 10rem;
        }
        .field--name-field-block-title {
          font-weight: 900;
          font-size: 1.38rem;
          margin: 1rem 0;
          a {
            text-decoration: none;
            color: #005ea2;
          }
        }
        .field--name-field-block-body {
          color: black;
          text-align: left;
        }
      }
    }
  }
}

// Banner
.paragraph--type--banner {
  .banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Source Sans Pro",sans-serif;
    color: #000;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 200;
      letter-spacing: .3rem;
      span {
        display: inline-block;
        &:before {
          content: "";
          background-color: $yellow;
          height: 5px;
          display: block;
          margin-bottom: 17px;
          width: 96%;
        }
      }
    }
    .field--name-field-section-body {
      p {
        width: 50%;
      }
    }
  }
}

// Text
.paragraph--type--text {
  margin: 1rem 0;
  line-height: 1.5rem;
  h2 {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
  }
}

// Accordions
#block-nass-content {
  .usa-accordion {
    list-style: none;
    width: auto;
    margin: 1rem 0;
    padding: 0;
    li.paragraph--type--uswds-accordion-item {
      .usa-accordion-button {
        border: none;
        background: none;
        font-size: 22px;
        border-top: 1px solid #C9C9C9;
        width: 100%;
        text-align: left;
        padding: 1rem 0;
        font-weight: 800;
        &[aria-expanded='false'] {
          &:after {
            background: url("./assets/img/plus.svg") no-repeat center/contain;
            filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
            display: inline-block;
            float: right;
            height: 0.85rem;
            width: 0.85rem;
            content: "";
            vertical-align: middle;
            margin-top: 0.5rem;
          }
        }
        &[aria-expanded='true'] {
          &:after {
            background: url("./assets/img/minus.svg") no-repeat center/contain;
            filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
            display: inline-block;
            float: right;
            height: 0.85rem;
            width: 0.85rem;
            content: "";
            vertical-align: middle;
            margin-top: 0.5rem;
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid #C9C9C9;
      }
      .usa-accordion-content[aria-hidden='true'] {
        display: none;
      }
      .usa-accordion-content[aria-hidden='false'] {
        display: flex;
        justify-content: flex-start;
        .field--name-field-icon {
          margin: 1rem 3rem 1rem 0;
        }
      }
    }
  }
}

// Table
#block-nass-content {
  .paragraph {
    table {
      width: 100%;
      tr:nth-child(even) {
        background-color: #DDDDDD;
      }
      td {
        padding: 1rem;
      }
      tr:first-child {
        font-weight: 800;
      }
    }
  }
}

// Blue Highlight Box
.paragraph--type--blue-highlight-box {
  color: white;
  background-color: #005ea2;
  font-size: 1.375rem;
  border-radius: 0.3rem;
  line-height: 2.5rem;
  margin: 1rem 0;
  padding: 1rem;
  .field--type-text-long {
    width: 100%;
    text-align: center;
    p {
      margin: 0;
    }
  }
  .field--name-field-uswds-button {
    margin: 0 auto;
    a {
      color: white;
      padding: 1rem 4rem;
      border: 1px solid white;
      border-radius: 0.2rem;
    }
  }
  .field {
    padding: 1rem 3rem;
  }
}

// Link
.paragraph--type--link {
  .field--type-link {
    margin: 2rem 0;
    @media (min-width: $tablet) {
      margin: 3rem 0;
    }
    a {
      text-decoration: none;
      color: #005ea2;
      font-size: 1.37rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }
}

// Link with text description
.paragraph--type--link-with-text-description {
  .grid-col-fill {
    display: flex;
    justify-content: flex-start;
    .field--name-field-link{
      a {
        text-decoration: none;
        color: #005ea2;
        font-size: 1rem;
        line-height: 2rem;
        font-weight: 600;
      }
    }
    .field--name-field-body {
      p {
        margin: 0.3rem 2rem;
      }
    }
  }
}

// Multiple Links
.paragraph--type--multiple-links {
  .field--name-field-title {
    font-size: 1.375rem;
    font-weight: 700;
  }
  .field--name-field-link-item {
    margin: 2rem 0;
    @media (min-width: $tablet) {
      margin: 3rem 0;
    }
    .paragraph--type--link {
      .field--type-link {
        margin: 1rem 0;
        @media (min-width: $tablet) {
          margin: 1.5rem 0;
        }
      }
    }
  }
}

// Featured Cards
.paragraph--type--featured {
  padding: 5rem 0;
  .featured-card {
    box-shadow: 0px 3px 6px #0000004d;
    border-radius: 0px 0px 4px 4px;
    opacity: 0.9;
    color: #005EA2;
    border-top: solid 5px #FCC107;
    min-height: 32rem;
    position: relative;
    img {
      width: 100%;
    }
    .featured-info {
      padding: 1rem 2rem;
      h2 {
        color: #005EA2;
        font-weight: 900;
        font-size: 1.38rem;
        a {
          text-decoration: none;
          color: #005EA2;
          line-height: 2rem;
        }
      }
    }
  }
  .paragraph--type--featured-card {
    .featured {
      min-height: inherit;
    }
  }
}

// Button and header row
.paragraph--type--button-and-header-row {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .header-icon-wrap {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    padding-left: 3rem;
    background-position-y: 6px;
  }
  h2 {
    width: fit-content;
    margin: 0 auto;
    display: block;
    color: #fff;
    text-transform: uppercase;
    line-height: 11px;
    padding-bottom: 13px;
    padding-left: 9px;
    font-size: 2rem;
    @media (max-width: $tablet) {
      line-height: 3rem;
    }
    span {
      &:before {
        margin-bottom: 17px;
        @media (max-width: $tablet) {
          margin-bottom: 7px;
        }
      }
    }
  }
  button {
    margin: 0 auto;
    display: block;
    padding: 1.5rem 4rem;
    a {
      color: #fff;
    }
  }
  .sub-text {
    text-align: center;
    color: #fff;
    padding: 1rem 0 2rem;
    font-weight: 100;
    letter-spacing: .05rem;
  }
}

// Two column block row
.paragraph--type--two-column-block-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  .header-icon-wrap {
    padding-left: 3.45rem;
    background-size: 35px;
    background-position-y: 4px;
  }
  h2 {
    text-transform:uppercase;
    &.light {
      color: $white;
    }
  }
}

// Video Embed
.paragraph--type--video-embed {
  margin: 1rem 0;
  .field--name-field-title {
    font-size: 2rem;
    font-weight: 100;
    margin: 1rem 0;
    width: 100%;
  }
  .field--name-field-video {
    width: 100%;
    .video-embed-field-lazy-play {
      border: 0;
    }
    .video-embed-field-responsive-video {
      iframe {
        position: relative;
        width: 100%;
        height: 40rem;
      }
      &:after {
        padding-bottom: 0;
      }
    }
  }
}

// News Release Contacts
.paragraph--type--news-contact {
  .field {
    width: 100%;
  }
}

// Subject data blocks
.paragraph--type--subject-data {
  margin-top:2rem;
  margin-bottom:1.5rem;
  .subject-data {
    border-top: 8px solid #FCC107;
    box-shadow: 0px 3px 6px #0000004D;
    margin-bottom: 1.5rem;
    a {
      padding: 2rem 0 3.5rem 0;
      display: block;
    }
    img {
      display: block;
      margin: 0 auto;
      padding: 1rem;
    }
    .subject-data-title {
      text-align: center;
      font-weight: bold;
    }    
  }
}

// Featured Video Row
.paragraph--type--featured-video-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .release-wrap {
    margin-bottom: 1.25rem;
  }
  h3 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  a.featured-video-img {
    display: block;
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 38px #000 inset;
    margin-bottom: 1rem;
  }
  .video-date {
    font-weight: 500;
    font-size: .65rem;
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  h4 {
    margin-top: 0;
  }
  .view-more-link-featured-videos-row {
    a {
      padding-top: 1.5rem;
      display: block;
      font-size: 14px;
      font-weight: bold;
      background-image: url(../img/usa-icons/arrow_forward_blue.svg);
      background-repeat: no-repeat;
      background-position: right 20px;
      padding-left: 0.45rem;
      margin-right: -4px;
      margin-bottom: 1rem;
      @media (min-width: $desktop-lg and $desktop) { 
        margin-bottom: 0rem;
        padding-left: 1rem;
      }
    }
  }
}

// Featured Content Row
.paragraph--type--featured-content-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h3 {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  h4 {
    line-height: 20px;
  }
  .view-more-link-featured-content-row {
    a {
      padding-top: 1.5rem;
      display: block;
      font-size: 14px;
      font-weight: bold;
      background-image: url(../img/usa-icons/arrow_forward_blue.svg);
      background-repeat: no-repeat;
      background-position: right 20px;
      padding-left: 0.45rem;
      margin-right: -4px;
      margin-bottom: 1rem;
      @media (min-width: $desktop-lg and $desktop) { 
        margin-bottom: 0rem;
        padding-left: 1rem;
      }
    }
  }  
  .date-field {
    font-weight: 500;
    font-size: .65rem;
    margin-bottom: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase; 
    color: #000;
  }
  .release-wrap {
    margin-bottom: 1rem;
  }
  .release-inner-wrapper {
    width: auto;
    min-height: 200px;
    height: 100%;
    margin-bottom: 1.25rem;
    box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
    border-radius: 0 0 4px 4px;
    border-top: solid 5px #fcc107;    
    button {
      margin: 0;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      letter-spacing: 1px;
      font-size: 1rem;
    }
    a {
      min-height: 200px;
      display: block;
      padding: 1.75rem;
    }
  }
}

// Call to Action Button
.paragraph--type--call-to-action-button {
  margin-bottom: 2rem;
  margin-top: 2rem;
  .call-to-action-wrap {
    border-radius: 4px;
    color: #fff;
    padding: 2rem;
    text-align: center;
    background-size: cover;
    h2 {
      margin-top: 0;
      text-transform: uppercase;
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }
    button {
      a {
        color: #fff;
      }
    }
  }
}

// Regional Office
.paragraph--type--regional-office {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  padding-bottom: 2rem;
  h2,h3 {
    width: 100%;
    color: #0A60A3;
  }
  .region-states {
    margin-bottom: 1.75rem;
    margin-top: 0.5rem;
    width: 100%;
    .state-list {
      padding-right: 8px;
      padding-top: 0.15rem;
      a {
        border-bottom: 1px dotted;
      }
    }    
  }
  .field--name-field-regional-office-address {
    margin-bottom: 1rem;
    display: flex;
    .icon {
      display: inline-flex;
      background: url("../img/material-icons/location_pin.svg") no-repeat center/contain;
      width: 20px;
      margin-right: 10px;
      height: 21px;
    }
  }
  .field--name-field-regional-office-phone-fax {
    display: flex;
    margin-bottom: 1rem;
    .icon {
      display: inline-flex;
      background: url("../img/usa-icons/phone_blue.svg") no-repeat center/contain;
      width: 20px;
      margin-right: 10px;
      height: 21px;
    }
  }
  .field--name-field-regional-office-email  {
    display: flex;
    &:before {
      content: "";
      display: inline-flex;
      background: url("../img/usa-icons/mail_blue.svg") no-repeat center/contain;
      width: 20px;
      margin-right: 10px;
      height: 21px;
    }
  }  
  .regional-contact {
    padding-bottom: 0.25rem;
    display: flex;
    .icon {
      display: inline-flex;
      background: url("../img/usa-icons/person_blue.svg") no-repeat center/contain;
      width: 20px;
      margin-right: 10px;
      height: 21px;
    }
    .contact {
      margin-bottom: 0.5rem;
      .contact-name {
        font-size: 1.05rem;
        color: #0A60A3;
        padding-bottom: 3px;
      }
      .contact-title {
        text-transform: uppercase;
        font-size: .8rem;
      }
    }
  }
  &.last {
    border-bottom: none;
    padding-bottom: 0;
  }    
}