.tab-group {
  margin-top: 4rem;
  position: relative;
  ul.tab-titles {
    gap: 2rem;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 4px solid #dddddd52;
    padding-bottom: 9px;
    li {
      font-size: 1.25rem;
      border-top: solid 0.3rem #ffffff00;
      transition: .2 all;
      &.active {
        border-top: solid 0.3rem #fcc107;
        &:hover {
          border-top: solid 0.3rem #fcc107;
        }
      }
      &:hover {
        border-top: solid 0.3rem #f3e6be;
      }
      a {
        text-decoration: none;
        color: #000;
        letter-spacing: .05rem;
        padding-top: 0.6rem;
        display: block;
      }      
    }

  }
  ul.tab-content {
    padding: 0.5rem 0 0 0;
    li.tab-content {
      display: none;
      &.active {
        display: block;
      }
      ul {
        width: 100%;
        max-width: 100%;
      }
      h3,h4,h5,h6 {
        font-weight: inherit;
      }
    }
  }
  .tab-item {
    font-size: .8rem;
    text-transform: uppercase;
  }
  .usa-section {
    padding-bottom: 0;
    padding-top: 0;
  }
}