#grid-overlay-wrap {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 999;  
}

#grid-overlay-wrap .grid-col-auto {
  height: 100%;
}

#grid-overlay-wrap .col-inner {
  background-color: #f58aa3ba;
  height: 100%;
  color: #fff0;  
}

#grid-overlay-wrap .grid-container, #grid-overlay-wrap .grid-row{
  height: 100%;
}