/**
  Footer Nav
 **/
.region-footer-menu {
  clear: both;
  background-color:#F0F0F0;
  @media (min-width: $desktop-lg) {
    height: 4rem;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1610px;
    margin: 0 auto;
    padding-left: 0;
    font-family: $source-sans;
    @media (min-width: $desktop-lg) {
      padding-top: 1.4rem;
      justify-content: center;
    }
    li {
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 600;
      padding: 1rem 2rem;
      width: 100%;
      border-bottom: solid 1px #939393;
      @media (min-width: $desktop-lg) {
        width: fit-content;
        padding: 0 4rem 0 0;
        border: none;
      }
      a {
        color: black;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/**
  Footer Menu
 **/
.region-footer {
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  font-family: $source-sans;
  padding: 2rem 0;
  margin-bottom: 1rem;
  @media (min-width: $desktop-lg) {
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
  }
  nav {
    width: 30rem;
    margin-right: 5rem;
    ul.menu {
      list-style: none;
      & > :first-child {
        font-weight: 900;
      }
      li {
        margin-bottom: 1rem;
        font-weight: 100;
        a {
          text-decoration: none;
          font-weight: 100;
          color: #005EA2;
        }
      }
    }
  }
  #block-subscriptions {
    margin: 0 2rem;
    @media (min-width: $desktop-lg) {
      margin: 0 3rem;
    }
    font-family: $source-sans;
    h2 {
      font-size: 1.06rem;
      letter-spacing: 0.05rem;
      font-weight: 900;
    }
    select {
      padding: 1rem;
      border: none;
      border-radius: 0.3rem;
      color: #4B4B4B;
      width: 100%;
      @media (min-width: $desktop) {
        width: 10rem;
      }
    }
  }
}