/**
 Primary Nav
 **/
#nass-nav {
  display: flex;
  width: 100%;
  flex-direction: column;
  @media (min-width: $mobile) {
    background-color: #1e366c;
    margin-top: 1rem;
  }
  .region-primary-menu {
    .tbm-nav {
      .tbm-item {
        &:first-of-type {
          a {
            margin-left: 0 !important;
          }
        }
      }
    }
  }
}

.region-primary-menu {
  clear: none;
  @media (min-width: $desktop-lg) {
    clear: both;
  }
  #block-mainnavigation {
    @media (min-width: $desktop-lg) {
      display: block;
    }
    #tbm-main {
      background-color: #1E366C;
      height: 4rem;
      @media (max-width: $mobile) {
        display: none;
      }
      ul.level-0 {
        padding-top: 0.4rem;
        & > li.tbm-item {
          border: 0;
          // General dropdown settings
          & > .tbm-link-container {
            border: 0;
            margin-right: 2.5rem;
            a, .tbm-link, .no-link, .tbm-link.level-1 {
              color: white;
              text-transform: uppercase;
              text-decoration: none;
              font-weight: bold;
              font-family: $source-sans;
              padding-right: 0;
              padding-left: 0;
              margin-left: 1rem;
              padding-top: 0.188rem;
              border-top: solid 0.188rem rgba(255, 255, 255, 0);
              margin-top: 0.7rem;
              &:hover,
              li.active & {
                padding-top: 0.188rem;
                border-top: solid 0.188rem white;
                margin-top: 0.7rem;
              }
              &:active,
              &:hover,
              &:focus {
                background-color: #1E366C;
              }
            }
            & > .tbm-submenu-toggle {
              background-color: #1E366C;
              width: 2rem;
              &:before {
                background: url("./../../uswds/img/angle-arrow-down-white.svg") no-repeat center/contain;
                border: none;
                height: 0.8rem;
                width: 0.8rem;
              }
            }
          }
          .tbm-submenu {
            padding: 0;
            border: none;
            .tbm-row {
              .tbm-column {
                &:first-child {
                  .tbm-column-inner {
                    margin: 1rem;
                    text-transform: uppercase;
                  }
                }
                &:nth-child(2) {
                  text-transform: uppercase;
                  a {
                    text-decoration: none;
                    &:before {
                      display: none;
                    }
                  }
                }
                .tbm-column-inner {
                  ul.tbm-subnav {
                    li.tbm-item {
                      display: block;
                      margin: 1rem 0 0;
                      // width: 50%;
                      .tbm-link-container {
                        a.tbm-link,
                        span.no-link {
                          display: block;
                          color: black;
                          font-weight: 600;
                          padding: 0.75rem 0.5rem;
                          &:before {
                            display: none;
                          }
                        }
                        a[aria-expanded="true"],
                        span[aria-expanded="true"] {
                          background-color: #fff5c2;
                          border-left: solid 0.25rem #FCC107;
                          font-weight: 600;
                        }
                        a[aria-expanded="false"],
                        span[aria-expanded="false"] {
                          border-left: solid 0.25rem rgba(255, 255, 255, 0);
                        }
                        &:after {
                          display: none;
                        }
                      }
                      .tbm-submenu {
                        width: 31rem;
                        left: 17.5rem;
                        box-shadow: none;
                        border: 0;
                        top: -10px;
                        .tbm-column {
                          background: white;
                          a.tbm-link {
                            color: #005EA2;
                            font-weight: 600;
                            text-transform: capitalize;
                            padding-bottom: 0;
                            .tbm-caption{
                              color: black;
                              font-weight: 100;
                            }
                          }
                          & :last-child {
                            .block-block-content {
                              h3 {
                                font-weight: 300;
                                margin: 1rem;
                              }
                              .contact-name {
                                font-weight: 600;
                              }
                              .contact-phone:before {
                                background: url("./../../uswds/img/usa-icons/phone.svg") no-repeat center/contain;
                                border: none;
                                height: 0.8rem;
                                width: 0.8rem;
                              }
                            }
                          }
                        }
                        li.level-3 {
                          width: 100%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          & + .tbm-item--has-dropdown {
            .tbm-link-container::after {
              background: url("./../../uswds/img/usa-icons-bg/expand_more--white.svg") no-repeat center/contain;
              display: inline-block;
              height: 100%;
              width: 1.8rem;
              content: "";
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
      }

      .level-1 {
        .tbm-submenu {
          .tbm-row {
            &:first-of-type {
              border-bottom: 1px solid #ccc;
              padding-left: 0.75rem;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
            }
          }
        }
        .tbm-row {
          margin-top: 0 !important;
        }
        .tbm-submenu {
          overflow: hidden !important;
          .tbm-row {
            .tbm-column.span3 {
              border-right: 1px solid #ccc;
              padding-bottom: 4rem;
            }
            .tbm-column.span4 {
              padding: 1rem 2rem;
              background-color: #f4f4f4;
              img {
                border-top: 6px solid $yellow;
              }
              a {
                font-weight: 600;
              }
              h2,h3,h4 {
                margin-top: 0;
              }
            } 
          }
        }
        .level-2 {
          .tbm-submenu {
            border-bottom: 0;
            width: 31rem;
            left: 17.5rem;
            box-shadow: none;
            border: 0;
            min-height: 250px;
            a {
              &:hover {
                text-decoration: underline !important;
              }
            }
            .tbm-row {
              height:100%;
               border-bottom: none;
              .tbm-column {
                border: 0 !important;
                a {
                  &:hover {
                    text-decoration: underline !important;
                  }
                }
              }
            }
          }
          &:first-of-type {
            .tbm-submenu {

            }
          }
          &:nth-of-type(2) {
            .tbm-submenu {
              top: -67px !important;
            }
          }
          &:nth-of-type(3) {
            .tbm-submenu {
              top: -125px !important;
            }
          }
          &:nth-of-type(4) {
            .tbm-submenu {
              top: -184px !important;
            }
          }
          &:nth-of-type(5) {
            .tbm-submenu {
              top: -240px !important;
            }
          }
          &:nth-of-type(6) {
            .tbm-submenu {
              top: -297px !important;
            }
          }
        }
      }
      .level-2.tbm-toggle {
        &:after {
          content: "";
          display: inline-block;
          background: url("./../../uswds/img/arrow-right.svg") no-repeat center/contain;
          border: 0;
          height: 0.8rem;
          width: 0.8rem;
          float: right;
          position: relative;
          top: 3px;
          right: 3px;
        }
      }
    }
  }
}

