$phone: 640px;
$tablet: 738px;
$desktop: 1024px;

//Phone
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  padding-left: 5px;
  padding-right: 5px;
}

//Tablet
@media (min-width: $tablet) and (max-width: $desktop) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1014px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

//Desktop
@media (min-width: $desktop) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1550px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
