.taxonomy-manager-wrapper {
  position: relative;
}

@media (min-width: 768px) {
  [data-drupal-selector="edit-taxonomy-manager"] {
    float: left;
    width: 30%;
  }
  [data-drupal-selector="edit-toolbar"] {
    float: right;
    width: 67%;
  }
  #wrapper-term-edit {
    float: right;
    width: 67%;
    margin-top: 0;
  }
}

.taxonomy-manager-vocabulary-terms-form {
  margin-right: 1px;
}

.form-item-load-term-data,
.taxonomy-manager-vocabulary-terms-form #edit-move {
  display: none;
}

.taxonomy-manager-vocabulary-terms-form
  .js-form-type-textfield.form-type--textfield.js-form-item-load-term-data.form-item--load-term-data {
  display: none;
}

.taxonomy-manager-vocabulary-terms-form .form-item--vocabulary-switcher {
  float: right;
  margin: 1rem 0.75rem 1rem 0;
}

.taxonomy-manager-autocomplete-input {
  display: none;
}
