#todays-releases {
  .release-info {
    .release-main-date {
      font-weight: 100;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .release-item {
      display: flex;
      margin-bottom: 1rem;
      margin-top: 0.25rem;
      .release-item-info {
        width: 50%;
        padding-right: 1rem;
        .release-date-time {
          font-weight: 500;
          font-size: .65rem;
          margin-bottom: 7px;
          letter-spacing: 1px;
          span {
            padding: 0 0.4rem;
          }
        }
        h4 {
          margin-top: 0;
          a {
            color: $black;
          }
        }
      }
      .release-item-download {
        width: 50%;
        margin-top: 7px;
        button {
          padding: 0.55rem 0.75rem 0.65rem;
          transition: .2s linear;
          &:hover {
            background-color: #efefef;
          }
          a {
            color: $blue-lt;
            font-size: 0.65rem;
            font-weight: 500;
          }
        }
      }
    }
  }
  .release-calendar {
    button {
      font-weight: 100;
      padding: 1.25rem 2rem;
    }
  }
  .upcoming-release {
    h3 {
      font-weight: 300;
      letter-spacing: 2px;
    }
    .release-item {
      display: block;
      .release-item-info {
        width: 100%;
      }
    }
  }
}