#todays-releases {
  position: relative;
  padding-bottom: 4rem;
  @media (min-width: $desktop) {
    padding-bottom: 0rem;
  }
  &.release-disabled {
    padding-right: 6rem;
    .usa-alert {
      &:before {
        left: 11px;
      }
    }
  }
  h2 {
    background-image: url("./../../assets/img/todaysreleases.png");
    background-repeat: no-repeat;
    padding-left: 3.45rem;
    padding-bottom: 10px;
    background-position: 0px 6px;
    background-size: 35px;
  }
  .release-info {
    .release-main-date {
      font-weight: 100;
      font-size: 1rem;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .release-item {
      display: flex;
      margin-bottom: 1rem;
      margin-top: 0.25rem;
    }
    .release-item-info {
      width: 100%;
      padding-right: 1rem;
      h4 {
        margin-top: 0;
        a {
          color: $blue-dk;
          border-bottom: 1px dotted $blue-dk;
        }
      }
      &.no-release {
        width: 80%;
        font-weight: 300;
        a {
          border-bottom: 1px dotted $blue-dk;
        }
      }
    }
    .release-item-download {
      width: 50%;
      margin-top: 7px;
      button {
        padding: 0.55rem 0.75rem 0.65rem;
        transition: .2s linear;
        &:hover {
          background-color: #efefef;
        }
        a {
          color: $blue-lt;
          font-size: 0.65rem;
          font-weight: 500;
        }
      }
    }
    .release-date-time {
      font-weight: 500;
      font-size: .65rem;
      margin-bottom: 7px;
      letter-spacing: 1px;
      span {
        padding: 0 0.4rem;
      }
    }    
  }
  .release-calendar {
    margin-top: 3rem;
    button {
      font-weight: 100;
      padding: 0;
      a {
        padding: 1.25rem 2rem;
        display: block;
      }
    }
  }
  .upcoming-release {
    margin-top: 3rem;
    h3 {
      font-weight: 300;
      letter-spacing: 2px;
    }
    h4 {
      margin-top: 0;
    }
    .release-item {
      display: block;
      .release-item-info {
        width: 100%;
      }
    }
  }
  .release-time-title {
    display: inline-block;
    width: 55%;
  }
  .release-data {
    display: inline-flex;
    width: 40%;
    float: right;
    span {
      font-weight: 300;
      font-size: .9rem;
    }
    button {
      font-size: .8rem;
      padding: 0;
      font-weight: 500;
      box-shadow: inset 0 0 0 0.08rem $blue-dk;
      a {
        padding: 0.7rem;
        display: block;
      }
    }
  }
  .view-empty {
    display: block;
    width: 80%;
    font-weight: 300;
    font-family: 'Source Sans Pro Web';
    a {
      color: $blue-dk;
      border-bottom: 1px dotted $blue-dk;
    }
  }
}

#todays-release-wrap {
  .timer {
    width: fit-content;
    font-size: .8rem;
    font-weight: 300;
    background-color: #ddd;
    display: inline-flex;
    padding: 0.6rem;
    margin-left: 1.75rem;
    border-radius: 4px;
    position: relative;
    top: -9px;
    span {
      margin-right: 0.25rem;
    }
  }
}

.data-and-statistics--todays-releases {
  .todays-releases {
    padding-top: 1rem;
  }
  .overline-header {
    display: none;
  }
  #todays-releases {
    &:after {
      display: none;
    }
  }
}