#us-map {
  width: 100%;
  position:relative;
}

#us-map svg {
  width: 100%;
}


#us-map svg g {
  cursor: pointer;
}

@media (max-width: 639px) {
  #us-map svg {
    height: 300px;
  }
}

#block-views-block-ranking-of-market-value-of-ag-products-block-1 {
  margin-bottom: 3rem;
}

#block-views-block-ranking-of-market-value-of-ag-products-block-1 .view-content .views-row {
  padding-left: 3rem;
  padding-bottom: 0.25rem;
}

