// About Us Nav
.block-superfishabout-us {
  position: relative;
  top: -3.43rem;
  margin: 1rem;
  background-color: #F2F2F2;
  width: 95%;
  display: block;
  @media (min-width: $tablet) {
    margin-left: 3rem;
    width: 90%;
  }
  @media (min-width: $desktop) {
    width: 16rem;
    float: right;
    margin: 0 3rem 0 0;
    top: -2.93rem;
  }
  & > h2 {
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    background-color: rgba(30, 54, 108, 0.9);
    font-weight: 100;
    padding: 0.5rem;
    @media (min-width: $desktop) {
      margin-top: 0 !important;
      padding: 0.75rem 1.5rem;
    }
  }
  // Mobile/Tablet View
  select#superfish-about-us-select {
    margin: .5rem .5rem 1rem;
    padding: 0.3rem;
    border: none;
    width: 95%;
    @media (min-width: $desktop) {
      display: none;
    }
  }
  // Desktop View
  ul#superfish-about-us {
    li {
      border-left: solid 8px #f2f2f2;
      a {
        text-decoration: none;
        color: black;
      }
      //TODO: remove once active class added to nav
      &:hover,
      &:nth-child(3) {
        font-weight: 800;
        border-left: solid 8px #FAC10F;
      }
      @media (min-width: $desktop) {
        display: block;
      }
    }
  }
}

//About Nass landing pages
.Agency {
  article {
    &>footer {
      display: none;
    }
    div {
      &>.field--name-field-paragraph-content {
        @media (min-width: $desktop) {
          margin: 3rem 7rem;
          width: 70%;
        }
        .paragraph {
          margin: 0 1rem;
          width: 22rem;
          @media (min-width: $tablet) {
            width: 50rem;
          }
          @media (min-width: $desktop) {
            width: 80rem;
          }
          .border-array {
            padding-top: 0;
            .field--name-field-section-head {
              text-transform: capitalize;
              font-weight: 300;
              letter-spacing: 0.2rem;
              font-size: 2rem;
              &:before {
                display: none;
              }
            }
          }
          .field--name-field-section-body {
            &:after {
              display: none;
            }
          }
          .paragraph-block {
            text-align: center;
            height: 15rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 1rem;
            color: white;
            @media (min-width: $tablet) {
              height: 25rem;
              padding-top: 10rem;
            }
            @media (min-width: $desktop) {
              height: 30rem;
              padding-top: 15rem;
            }
            @media (min-width: $desktop) {
              background-size: contain;
            }
            h2 {
              background-color: rgba(0, 33, 72, 0.9);
              height: 8rem;
              padding: 1rem;
              color: white;
              @media (min-width: $tablet) {
                margin: 0 5rem;
              }
              @media (min-width: $desktop) {
                margin: 0 15rem;
              }
              .field--name-field-section-head {
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                font-weight: 600;
              }
            }
            .content-container {
              position: relative;
              top: -8rem;
              padding: 1rem;
              select {
                width: 100%;
                padding: 0.5rem;
                background-color: rgba(255,255,255,0.2);
                @media (min-width: $tablet) {
                  width: 70%;
                }
                @media (min-width: $tablet) {
                  width: 55%;
                }
              }
            }
          }
        }
        .paragraph--type--text {
          h3.career-link {
            margin: 1rem 0;
            a {
              font-weight: 600;
              text-decoration: none;
              color: #005ea2;
              font-size: 1.375rem;
            }
          }
          .blue-text {
            color: white;
            background-color: #005ea2;
            padding: 3rem;
            font-size: 1.375rem;
            border-radius: 0.3rem;
            line-height: 2.5rem;
          }
          .our-products-list {
            list-style: none;
            padding: 0;
            li {
              margin: 1rem 0;
              a {
                font-weight: 600;
                text-decoration: none;
                color: #005ea2;
                font-size: 1.375rem;
              }
            }
          }
        }
      }
    }
  }
}
