$phone: 640px;
$tablet: 738px;
$desktop: 1024px;

// Page Breadcrumbs
#block-nass-breadcrumbs {
  display: none;
  @media (min-width: $desktop) {
    display: inline-block;
    position: relative;
    top: -2.5rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    background: white;
    color: #1E366C;
    margin-left: 7rem;
    .uswds-breadcrumbs {
      padding: 0;
      margin: 0.5rem 1.5rem 1rem 1.5rem;
      a {
        text-decoration: none;
        color: #1E366C;
      }
    }
  }
}

// Page Header
.page-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  height: 10rem;
  @media (min-width: $tablet) {
    padding: 1rem 3rem;
  }
  @media (min-width: $desktop) {
    padding: 3rem 7rem;
  }
  h3 {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin-top: 0;
  }
}

// Get Data Nav
.block-superfishget-data {
  position: relative;
  top: -3.43rem;
  margin: 1rem;
  background-color: #F2F2F2;
  width: 95%;
  display: block;
  @media (min-width: $tablet) {
    margin-left: 3rem;
    width: 90%;
  }
  @media (min-width: $desktop) {
    width: 16rem;
    float: right;
    margin: 0 3rem 0 0;
    top: -2.93rem;
  }
  & > h2 {
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    background-color: rgba(30, 54, 108, 0.9);
    font-weight: 100;
    padding: 0.5rem;
    @media (min-width: $desktop) {
      margin-top: 0 !important;
      padding: 0.75rem 1.5rem;
    }
  }
  // Mobile/Tablet View
  select#superfish-get-data-select {
    margin: .5rem .5rem 1rem;
    padding: 0.3rem;
    border: none;
    width: 95%;
    @media (min-width: $desktop) {
      display: none;
    }
  }
  // Desktop View
  ul#superfish-get-data {
    li {
      border-left: solid 8px #f2f2f2;
      a {
        text-decoration: none;
        color: black;
      }
      //TODO: remove once active class added to nav
      &:hover,
      &:nth-child(3) {
        font-weight: 800;
        border-left: solid 8px #FAC10F;
      }
      @media (min-width: $desktop) {
        display: block;
      }
    }

  }
}

//State Landing Page
.States {
  article {
    &>footer {
      display: none;
    }
    div {
      &>.field--name-field-paragraph-content {
        @media (min-width: $desktop) {
          margin: 3rem 7rem;
          width: 70%;
        }
        .paragraph {
          margin: 0 1rem;
          @media (min-width: $desktop) {
            width: 80rem;
          }
          .border-array {
            padding-top: 0;
            .field--name-field-section-head {
              text-transform: capitalize;
              font-weight: 300;
              letter-spacing: 0.2rem;
              font-size: 2rem;
              &:before {
                display: none;
              }
            }
          }
          .field--name-field-section-body {
            &:after {
              display: none;
            }
          }
          .paragraph-block {
            text-align: center;
            height: 15rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-top: 1rem;
            color: white;
            @media (min-width: $tablet) {
              height: 25rem;
              padding-top: 10rem;
            }
            @media (min-width: $desktop) {
              height: 30rem;
              padding-top: 15rem;
            }
            @media (min-width: $desktop) {
              background-size: contain;
            }
            h2 {
              background-color: rgba(0, 33, 72, 0.9);
              height: 8rem;
              padding: 1rem;
              color: white;
              @media (min-width: $tablet) {
                margin: 0 5rem;
              }
              @media (min-width: $desktop) {
                margin: 0 15rem;
              }
              .field--name-field-section-head {
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
                font-weight: 600;
              }
            }
            .content-container {
              position: relative;
              top: -8rem;
              padding: 1rem;
              select {
                width: 100%;
                padding: 0.5rem;
                background-color: rgba(255,255,255,0.2);
                @media (min-width: $tablet) {
                  width: 70%;
                }
                @media (min-width: $tablet) {
                  width: 55%;
                }
              }
            }
          }
        }
      }
    }
  }
}

//State Overview & State Data Pages
.state-data,
.vocabulary-states {
  margin: 1rem;
  @media (min-width: $tablet) {
    margin: 1rem 3rem;
  }
  @media (min-width: $desktop) {
    margin: 3rem 7rem;
    width: 70%;
  }
  a.all-states {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      text-decoration: none;
      font-weight: 600;
      color: #1E366C;
      margin-bottom: 1rem;
    }
    &:before {
      background: url("../assets/img/usa-icons/arrow_back.svg") no-repeat center/contain;
      filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
      display: inline-block;
      height: 1rem;
      width: 1rem;
      content: "";
      vertical-align: middle;
      margin-right: 0.2rem;
    }
  }
  select.ViewsJumpMenu {
    border: solid 1px #005EA2;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.2rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.2rem;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $desktop) {
      font-size: 1.275rem;
      margin: 1.5rem 0;
    }
    div.state-address,
    div.address {
      &>:before {
        background: url("../assets/img/usa-icons/location_on.svg") no-repeat center/contain;
        filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
        display: inline-block;
        height: 1rem;
        width: 1rem;
        content: "";
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }
    div.address {
      p.address {
        margin-top: 0;
      }
      br {
        display: none;
      }
    }
    .phone, .fax {
      display: inline-block;
      a {
        color: black;
        text-decoration: none;
      }
      &>:before {
        background: url("../assets/img/usa-icons/phone.svg") no-repeat center/contain;
        filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
        display: inline-block;
        height: 1rem;
        width: 1rem;
        content: "";
        vertical-align: middle;
        margin-right: 0.2rem;
      }
    }
    .phone {
      @media (min-width: $tablet) {
        margin-left: 1rem;
      }
    }
    .fax {
      margin-left: 1rem;
      & > :after {
        content: "(FAX)";
        margin-left: 0.2rem;
      }
    }
  }
  .release-form {
    width: 95%;
    background-color: #376EAA;
    color: white;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 0.3rem;
    .form-description {
      text-align: center;
      font-size: 1.375rem;
      margin-bottom: 0.5rem;
      .field--name-name {
        display: inline;
      }
    }
    @media (min-width: $desktop) {
      .form-description {
        text-align: left;
      }
    }
    .webform-submission-subscribe-to-state-release-form {
      @media (min-width: $desktop) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .form-item-release-topic {
        @media (min-width: $desktop) {
          width: 28%;
        }
        select {
          width: 100%;
          padding: 0.5rem;
          color: black;
          border-radius: 0.3rem;
        }
      }
      .form-item-first-last-name, .form-item-email-a {
        width: 100%;
        overflow: auto;
        color: black;
        margin-top: 0.3rem;
        border-radius: 0.3rem;
        input {
          padding: 0.5rem;
          border-radius: 0.3rem;
          width: 100%;
        }
        @media (min-width: $desktop) {
          width: 28%;
          margin-top: 0;
        }
      }
      .form-actions {
        input.form-submit {
          width: 100%;
          border: 2px solid white;
          background: none;
          padding: 0.5rem;
          margin-top: 1.2rem;
          border-radius: 0.3rem;
          @media (min-width: $desktop) {
            margin-top: 0.2rem;
          }
        }
      }
    }
  }
  .state-nav {
    margin-top: 4rem;
    position: relative;
    ul {
      display: flex;
      list-style: none;
      justify-content: flex-start;
      flex-wrap: nowrap;
      padding: 0;
      overflow-x: auto;
      white-space: nowrap;
      width: 90%;
      gap: 1rem;
      @media (min-width: $tablet) {
        gap: 2rem;
      }
      &:after {
        position: absolute;
        background-image: url("../assets/img/angle-arrow-right.svg");
        background-repeat: no-repeat;
        background-size: 0.5rem;
        content: "";
        vertical-align: middle;
        height: 3.8rem;
        width: 3rem;
        right: -1.5rem;
        top: 1rem;
        @media (min-width: $tablet) {
          display: none;
        }
      }
      li {
        padding-top: 0.4em;
        border-top: solid 0.3rem white;
        &:hover {
          border-top: solid 0.3rem #FCC107;
        }
        a {
          text-decoration: none;
          color: black;
          letter-spacing: 0.05rem;
        }
        @media (min-width: $tablet) {
          font-size: 1.25rem;
        }
      }
      li.active {
        border-top: solid 0.3rem #FCC107;
      }
    }
    ul.is-hidden {
      &:after {
        display: none;
      }
    }
  }
  .overview {
    display: flex;
    flex-wrap: wrap;
    h2 {
      text-transform: capitalize;
      font-size: 2rem;
      width: 100%;
      @media (min-width: $tablet) {
        font-size: 3rem;
        letter-spacing: 0.2rem;
      }
    }
    .logo {
      display: none;
      width: 25%;
      margin-top: 1rem;
      img {
        width: 11rem;
        height: auto;
      }
      @media (min-width: $tablet) {
        display: block;
      }
    }
    .overview-text  {
      width: 100%;
      @media (min-width: $tablet) {
        width: 70%;
        margin-left: 2rem;
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
  .whats-new {
    h2 {
      font-size: 1.375rem;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      @media (min-width: $desktop) {
        justify-content: left;
      }
      li {
        width: 100%;
        height: 5rem;
        border-top: solid 5px #fcc107;
        border-radius: 0.2rem;
        box-shadow: 0px 3px 6px #0000004D;
        margin-bottom: 1rem;
        padding: 1.5rem;
        @media (min-width: $desktop) {
          width: 20%;
          margin-right: 1rem;
        }
        .views-field-title  {
          color: #005EA2;
          font-weight: 900;
          font-size: 1.38rem;
          margin: 1rem 0;
          a {
            text-decoration: none;
            color: #005EA2;
            line-height: 2rem;
          }
          .featured-tag {
            text-transform: uppercase;
            text-decoration: none;
            background: #fde082;
            color: #000;
            display: inline-block;
            font-size: 0.875rem;
            padding: 0.5rem 1rem;
            letter-spacing: .1rem;
            border-radius: 0.2rem;
            margin: 0 2rem;
            @media (min-width: $desktop) {
              font-size: 0.75rem;
              padding: 0.25rem 1rem;
            }
          }
        }
      }
    }
  }
}

// State Data Pages
.state-data {
  //Highlights specific
  .views-field-title {
    width: 100%;
    margin: 0.5rem 0;
    @media (min-width: $tablet) {
      width: 60%;
    }
    a {
      text-decoration: none;
      color: #005EA2;
      font-size: 1.37rem;
      line-height: 2rem;
      font-weight: 600;
    }
  }
  #block-nass-breadcrumbs {
    margin-left: 0;
    top: -5rem;
  }
  .form-description {
    position: relative;
    text-align: center;
    font-size: 1.375rem;
    margin-bottom: 0.5rem;
    color: white;
    height: 0;
    top: 2rem;
    .field--name-name {
      display: inline;
    }
    @media (min-width: $desktop) {
      text-align: left;
      margin-left: 1.5rem;
    }
  }
  .webform-submission-subscribe-to-state-release-form {
    padding: 6rem 1rem 1rem;
    background-color: #376EAA;
    color: white;
    margin: 1rem auto;
    border-radius: 0.3rem;
    @media (min-width: $desktop) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 4rem 1rem 1rem;
    }
    .form-item-release-topic {
      @media (min-width: $desktop) {
        width: 28%;
      }
      select {
        width: 100%;
        padding: 0.5rem;
        color: black;
        border-radius: 0.3rem;
      }
    }
    .form-item-first-last-name, .form-item-email-a {
      width: 100%;
      overflow: auto;
      color: black;
      margin-top: 0.3rem;
      border-radius: 0.3rem;
      input {
        padding: 0.5rem;
        border-radius: 0.3rem;
        width: 100%;
      }
      @media (min-width: $desktop) {
        width: 28%;
        margin-top: 0;
      }
    }
    .form-actions {
      input.form-submit {
        width: 100%;
        border: 2px solid white;
        background: none;
        padding: 0.5rem;
        margin-top: 1.2rem;
        border-radius: 0.3rem;
        @media (min-width: $desktop) {
          margin-top: 0.2rem;
        }
      }
    }
  }
  .view-id-states_media_ {
    @media (min-width: $desktop) {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
    .view-header {
      width: 100%;
      h2#state-section-title {
        text-transform: capitalize !important; //TODO: Remove important
      }
    }
    .view-filters {
      margin: 2rem 0;
      width: 100%;
      @media (min-width: $desktop) {
        width: 30%;
        margin: 1rem 0;
      }
      form {
        padding: 1rem;
        background: #EDEDED;
        border-radius: 0.3rem;
        .usa-form-group {
          text-align: center;
          width: 100%;
          & > :before {
            background: url("../assets/img/usa-icons/filter_alt.svg") no-repeat center/contain;
            display: inline-block;
            height: 1rem;
            width: 1rem;
            content: "";
            vertical-align: middle;
            margin-right: 0.2rem;
          }
          label {
            font-weight: 800;
          }
          .form-select {
            width: 100%;
            border: 0;
            border-radius: 0.3rem;
            padding: 0.75rem;
            margin: 0.5rem 0;
          }
        }
      }
      .form-submit {
        width: 100%;
        padding: 0.5rem;
        font-weight: 800;
      }
    }
    .view-content {
      width: 100%;
      @media (min-width: $desktop) {
        width: 65%;
      }
      .views-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .views-field-field-date-and-time {
          width: 100%;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 0.1rem;
          margin: 0.5rem 0;
        }
        .views-field-name {
          width: 100%;
          margin: 0.5rem 0;
          @media (min-width: $tablet) {
            width: 60%;
          }
          a,
          span {
            text-decoration: none;
            color: #005EA2;
            font-size: 1.37rem;
            line-height: 2rem;
            font-weight: 600;
          }
        }
        .views-field-field-table-number {
          width: 100%;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 0.1rem;
          margin: 0.5rem 0;
        }
        .views-field-field-query {
          margin-right: 0.5rem;
        }
        .views-field-field-query,
        .views-field-nothing-1 {
          width: 40%;
          text-transform: uppercase;
          text-align: center;
          padding: 0.5rem;
          border: 2px solid #005EA2;
          border-radius: 0.3rem;
          height: 1.5rem;
          @media (min-width: $tablet) {
            width: 4rem;
          }
          a {
            text-decoration: none;
            color: #005EA2;
          }
        }
        .views-field-field-category {
          width: 100%;
          margin: 0.5rem 0 2rem;
          ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0.5rem;
            a {
              display: inline-block;
              font-size: 0.875rem;
              padding: 0.5rem 1rem;
              text-transform: uppercase;
              text-align: center;
              text-decoration: none;
              background: #FDE082;
              color: black;
              letter-spacing: 0.1rem;
              border-radius: 0.2rem;
              @media (min-width: $desktop) {
                font-size: 0.75rem;
                padding: 0.25rem 1rem;
              }
            }
          }
        }
      }
    }
    .usa-pagination {
      margin: 2rem 0;
      width: 100%;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
        @media (min-width: $tablet) {
          gap: 1rem;
          justify-content: center;
        }
        .usa-pagination__button {
          padding: 0.275rem 0.5rem;
          border: 1px solid #C9C9C9;
          color: #005EA2;
          border-radius: 0.3rem;
          text-decoration: none;
          @media (min-width: $tablet) {
            padding: 0.5rem 1rem;
          }
          &.usa-current,
          &:hover {
            color: white;
            background: #005EA2;
            border: 1px solid #005EA2;
          }
        }
        .usa-pagination__arrow {
          a {
            text-decoration: none;
            span {
              position: relative;
              color: #005EA2;
              top: -0.3rem;
            }
            .usa-icon {
              height: 1.275rem;
              width: 1.275rem;
              filter: invert(16%) sepia(100%) saturate(2884%) hue-rotate(191deg) brightness(96%) contrast(101%);
            }
          }
        }
      }
    }
  }
}
