// Colors
$yellow: #FCC107;
$yellow-lt: #FDE082;
$blue-dk: #1E366C;
$blue-lt: #005EA2;
$black: #000000;
$green: #015840;
$grey: #0000004D;
$grey-lt: #C9C9C9;
$grey-md: #F0F0F0;
$grey-dk: #4B4B4B;
$white: #ffffff;

// Fonts
$source-sans: "Source Sans Pro", sans-serif;

a, p, div, h1, h2, h3, span, li {
  font-family: $source-sans;
}

/**
USDA Logo
**/
.usa-logo {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  font-size: 1.46rem;
  .agency-banner {
    display: flex;
    justify-content: flex-start;
    width: 18rem;
    @media (min-width: $tablet) {
      padding-top: 0.5rem;
    }
    @media (min-width: $desktop) {
      justify-content: space-between;
      width: 25rem;
    }
    > * {
      display: flex;
    }
    .logo-img {
      img {
        width: 3.5rem;
        height: 3.5rem;
        @media (min-width: $desktop) {
          width: 3.9rem;
          height: 3.9rem;
        }
      }
    }
    .usa-logo__text {
      color: black;
      padding-top: 0.3rem;
      @media (min-width: $desktop) {
        padding-top: 0.7rem;
      }
      font-family: "Source Sans Pro", sans-serif;
      a {
        text-decoration: none;
        color: black;
        margin-left: 0.2rem;
        .agency-name {
          font-size: 0.9rem;
          font-weight: 500;
          @media (min-width: $desktop) {
            font-size: 1.2rem;
          }
        }
        .tag-line {
          font-size: 0.7rem;
          font-weight: 100;
          text-transform: uppercase;
          margin-top: 0.3rem;
          @media (min-width: $desktop) {
            font-size: 0.8rem;
            margin-top: 0.6rem;
          }
        }
        &:visited {
          color: black;
        }
      }
    }
  }
}

// Treatments
h2.overline-header {
  font-weight: 100;
  letter-spacing: 6px;
  span {
    display: inline-block;
    &:before {
      content: "";
      background-color: $yellow;
      height: 5px;
      display: block;
      margin-bottom: 7px;
      width: 96%;
    }
  }
}

// Pill tag
.link-tag {
  font-size: .55rem;
  padding: 0.4rem 0.4rem 0.4rem 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  background: #fde082;
  color: #000;
  display: inline-block;
  letter-spacing: .1rem;
  border-radius: 0.2rem;
}
.release-category-list {
  ul {
    list-style-type: none;
    list-style: none;
    padding: 0;
    display: flex;
    li {  
      margin-right: 1rem;
      font-size: .55rem;
      padding: 0.4rem 0.4rem 0.4rem 0.5rem;
      text-transform: uppercase;
      text-decoration: none;
      background: #fde082;
      color: #000;
      display: inline-block;
      letter-spacing: .1rem;
      border-radius: 0.2rem;
      &::after {
        display: none;
      }
      &:last-of-type {
        padding-right: .4rem;
      }
    }
  }
}

// Icons
.usa-icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  position: relative;
  width: 1em;
}

// Phone
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 640px;
  padding-left: 5px;
  padding-right: 5px;
}

// Tablet
@media (min-width: $tablet) and (max-width: $desktop) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1014px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// Desktop
@media (min-width: $desktop-lg) {
  .container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

//Default anchor tag styles
a {
  text-decoration: none;
  color: #005ea2;
}

// Buttons
.usa-button--white.usa-button {
  background-color: #fff;
  color: $blue-lt !important;
  border: 1px solid $blue-lt;
  border-color: $blue-lt;
  border-bottom: solid !important;
  border-bottom-width: 1px !important;
  &.usa-button {
    &:visited {
      color: $blue-lt;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.828);
      color: $blue-lt !important;
      border: 1px solid $blue-lt;
      border-color: $blue-lt;
      border-bottom: solid !important;
      border-bottom-width: 1px !important;
    }
  }
}

// Heading
.region-content {
  h2, h3, h4, h5 {
    font-weight: 300;
  }
}

// Pagination for views
.view {
  .usa-pagination .usa-current {
    background-color: #005ea2;
    &:hover {
      background-color: #005ea2c9;
    }
  }
}

.spacer {
  text-indent: -9999px;
  color: rgba(0, 0, 0, 0);
}

// back to top button
#back-to-top {
  background: url("../img/angle-arrow-up-primary.svg") no-repeat center/contain;
  position: absolute;
  position: fixed;
  right: -6rem;
  bottom: 3rem;
  z-index: 9999;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #ffffffb1;
  display: block;
  background-size: 42%;
  background-position: 50% 15px;
  border: 3px solid $blue-dk;
  font-size: .9rem;
  cursor: pointer;
  &.active {
    right: 3rem;
  }
  span {
    margin-top: 2.5rem;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
.form-required:after {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
  content: "";
  vertical-align: super;
  /* Use a background image to prevent screen readers from announcing the text. */
  background-image: url(../../assets/img/required.svg);
  background-repeat: no-repeat;
  background-size: 6px 6px;
}

// Hidden utility class
.hidden {
  display: none;
  visibility: hidden;
}

// Form/Views filters
.view-filters {
  .shs-field-container {
    display: flex;
    margin-top: 10px;
    .shs-widget-container {
      height: 3rem;
      margin-right: 1rem;
      select {
        height: 85%;
        padding: 5px;
      }
    }
  }
}
.state-release-filter  {
  .view-filters {
    padding: 0 2rem 2rem;
    background-color: #EDEDED;
    .form--inline {
      display: flex;
    }
    .usa-label {
      font-weight: bold;
    }
    .form-actions {
      padding-top: 2rem;
    }
  }
}