#edit-reset-conference-presentation-archive,
#edit-reset-asb-notices-library-archive,
#edit-reset-asb-briefings-library-archive,
#edit-reset-journal-article-archive,
#edit-reset-report-archive {
  display: none;
}

#main-wrapper {
  padding-bottom: 25px;
}

.view-empty {
  padding-left: 2rem;
}
