.view-conference-presentation-archive {
  .views-exposed-form {
    #edit-actions {
      #edit-reset-conference-presentation-archive {
        display: none;
      }
    }
  }
}

#main-wrapper {
  padding-bottom: 25px;
}

.view-empty {
  padding-left: 2rem;
}
