#quickstat-checkboxes {
  list-style: none;
  padding-left: 0;
  margin-top: 2rem;
  li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#results-table .grid-container, #quickstats .grid-container {
  padding-left:0;
  padding-right:0;
}

#ajaxLoader{
  width: 50px;
  margin-top: 1rem;
  display: none;
}

#sector-ajaxLoader, #group-ajaxLoader, #commodity-ajaxLoader{
  width: 34px;
  display: none;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 25px;
}